input {
    padding: 1% 2%;
    font-size: 36px;
}
.input-container {
    width: 80vw;
    height: 10vh;
    color: gray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 3px solid lightgray;
    border-radius: 10px;
    margin: 2% 1%;
}
.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.options-heading {
    font-size: 123%;
    color: grey;
    margin: 2% 3%;
}
.left-icon {
    font-size: 8vw;
    width: 12vw;
    height: 11.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: cursive;
    background-color: rgb(43, 137, 205);
    border-radius: 10px;
    margin: 2% 1%;
    margin-right: 0%;
    cursor: pointer;
}
.footer-message {
    display: flex;
    flex-direction: row;
}
@media (max-width: 500px) {
    * {
        font-size: 95%;
    }
    .message {
        width: 70vw;
    }
    .input-container {
        width: 70vw;
        height: 5vh;
    }
    .left-icon {
        width: 22vw;
        height: 6vh;
    }
    .icon-container {
        margin: 2% 0%;
    }
    input {
        font-size: 15px;
    }
    .robo-image {
        width: 14vw;
    }
}
