.header {
    font-size: 160%;
    background-color: rgb(217, 232, 239);
    color: rgb(5, 117, 177);
    padding: 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2%;
}
.chat-name {
    font-weight: 600;
}
.robo-image {
    width: 8vw;
    background-color: rgb(217, 232, 239);
    border-radius: 5em;
}
.heading-content-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 1%;
}
.sub-heading {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
